

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	color: #6d6d6d;
	font-smooth:always;
}

body.contentpage {
	padding-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: 'Cabin', sans-serif;
	margin: 0 0 30px 0;
}

h3 span {
	background: #fff;
	display: inline-block;
	height: 100%;
	padding: 0 25px;
}

p {
	margin-bottom: 30px;
}

a {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

a:hover {
	text-decoration: none;
	color: #585858;
}

img {
	max-width: 100%;
}



#columnx3{
	margin : 50px;
}
#columnx3 img{
	height: 300px;
	width: 500px;
}



/*FOOTER*/

.footer {
	background: #363b3f;
	padding: 70px 0 0 0;
}

.footer h6 {
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.footer p {
	color: #908f8f;
}

.footer a {
	color: #65c178;
}

.footer a:hover {
	color: #fff;
}

.footer .title {
	margin-bottom: 15px;
}

.footer .title a {
	font-weight: 700;
}

.footer ul {
	margin: 0 0 30px 0;
	padding: 0;
	list-style: none;
}

.footer ul li {
	background: url("../images/arrow.png") 0 50% no-repeat;
	text-indent: 20px;
	margin-bottom: 10px;
}

.footer ul li a {
	color: #908f8f;
}

.footer ul li a:hover {
	color: #65c178;
}

.footer .contact-info span {
	display: inline-block;
	width: 40px;
	color: #908f8f;
}

.footer .contact-info .c-details {
	color: #65c178;
}

.footer .contact-info .social {
	overflow: hidden;
}

.footer .contact-info .social a {
	display: block;
	float: left;
	margin-right: 5px;
	height: 50px;
	width: 50px;
	background: #2a3034;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.footer .contact-info .social a:hover {
	background-color: #65c178;
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.footer .contact-info .social a.facebook {
	background-image: url("../images/facebook.png");
}

.footer .contact-info .social a.pinterest {
	background-image: url("../images/pinterest.png");
}

.footer .contact-info .social a.twitter {
	background-image: url("../images/twitter.png");
}

.footer .copyright {
	border-top: 2px solid #4a4f53;
	padding-top: 30px;
}

.footer .copyright a {
	color: #fff;
}

.footer .copyright a:hover {
	color: #65c178;
}

/*END FOOTER*/

.caption
{
	text-align: justify;
}
.header-image
{
width: auto;
}
.form-group
{
	margin:50px;
}
.panel-success
{
	margin : 50px;
}
#icone_nav
{
	margin-top:-12px;
}

.input-group2
{
  display: inline-block !important;
	width: 95%;
}
.btn-success2
{
	border-radius:
}

.button_sm
{
	position:relative;
	left:65%;
}

#adminPage
{
	margin:30px;
}

.titleh1
{
	margin-left:30px;
	text-align:center;
}

.image3
{
	width: 80% !important;
	height: 50% !important:
}

#adm h2
{
	padding-top:30px;
	text-align: center;
}
#buttonLG
{
	text-align: center;
}
.titleh3_sp
{
	text-align: center;
}
